.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px 1px hsla(0, 0%, 68%, 0.568);
    max-width: 600px;
}